{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>CSV Importer App for Wave</title>

	<!-- Bootstrap -->
	<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'main/css/bootstrap-sortable.css' %}" rel="stylesheet">	
	<link href="{% static 'main/css/style.css' %}" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	<body role="document">
		<div class="container theme-showcase" role="main">
			<div class="page-header">
				<h1>CSV Importer App for Wave</h1>
			</div>

			<!-- Top nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
			    <li role="presentation"><a href="#alldata" aria-controls="alldata" role="tab" data-toggle="tab">All Data</a></li>
			    <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="summary">
					<div class="panel panel-default">
						<div class="panel-body">
							{% if summary_data %}
							<p>The following is a per-month summary of data in the database.</p>
							<div class="table-responsive">
								<table class="table table-striped sortable">
									<thead>
										<tr>
											<th data-defaultsort="desc">Date</th>
											<th>Total</th>
											<th>Pre-tax Total</th>
											<th>Taxes</th>
											<th>Top Spender This Month</th>
										</tr>
									</thead>
									<tbody>
										{% for row in summary_data %}
										<tr>
											<td data-value="{{ row.expense_year }}{{ row.expense_month_number}}">{{ row.expense_month }}&nbsp;{{ row.expense_year}}</td>
											<td>{{ row.total }}</td>
											<td>{{ row.total_pretax }}</td>
											<td>{{ row.total_tax }}</td>
											<td>{{ row.top_spender }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							{% else %}
							<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;The database is empty. Please upload some data using the Upload tab above.</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="alldata">
					<div class="panel panel-default">
						<div class="panel-body">
							{% if expense_list %}
							<div class="table-responsive">
								<table class="table table-striped table-condensed sortable">
									<thead>
										<tr>
											<th>Date</th>
											<th>Category</th>
											<th>Employee Name</th>
											<th>Address</th>
											<th>Description</th>
											<th>Pre-tax Amount</th>
											<th>Tax Name</th>
											<th>Tax Amount</th>
										</tr>
									</thead>
									<tbody>
										{% for item in expense_list %}
										<tr>
											<td data-dateformat="YYYY-MM-DD">{{ item.date|date:"Y-m-d" }}</td>
											<td>{{ item.category }}</td>
											<td>{{ item.name_emp }}</td>
											<td><a href="http://maps.google.com/?q={{ item.address }}" target="_blank" title="Lookup '{{ item.address }}' on Google Maps">{{ item.address }}</a></td>
											<td>{{ item.description }}</td>
											<td>${{ item.amount_pretax }}</td>
											<td>{{ item.name_tax }}</td>
											<td>${{ item.amount_tax }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							{% else %}
							<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;The database is empty. Please upload some data using the Upload tab above.</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="upload">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="panel panel-default">
										<div class="panel-body">
											<form enctype="multipart/form-data" action="/upload/" method="post">
												{% csrf_token %}
												<div class="form-group">
													<label for="csvfile">Select a CSV file for upload:</label>
													<input type="file" name="csvfile" accept="text/csv"/>
												</div>
												<button type="submit" class="btn btn-default">Upload</button>
											</form>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="panel panel-default">
										<div class="panel-body">
											<form action="/purge/" method="post">
												{% csrf_token %}
												<p>Click the button below to delete all data in the database.</p>
												<input type="hidden" name="delete" value="true"/>

												<div class="modal fade" id="deletemodal">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												        <h4 class="modal-title">Are you sure?</h4>
												      </div>
												      <div class="modal-body">
												        <p>All data will be deleted.</p>
												      </div>
												      <div class="modal-footer">
												        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
												        <button type="submit" class="btn btn-danger">Yes</button>
												      </div>
												    </div><!-- /.modal-content -->
												  </div><!-- /.modal-dialog -->
												</div><!-- /.modal -->
												<button type="button" id="promptdelete" class="btn btn-danger">Purge Database</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'main/js/moment.min.js' %}"></script>
		<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'main/js/bootstrap-sortable.js'%}"></script>
		<script src="{% static 'main/js/app.js' %}"></script>
	</body>
</html>